* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 0.9em;
    width: 100vw;
    height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content {
    border-radius: 5px;
    width: 1108px;
    height: 450px;
    background-color: hsl(244, 38%, 16%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.textDiv {
    padding: 70px 100px 0px 60px;
    width: 50%;
    height: 100%;
}

.textDiv h1 {
    font-weight: 700;
    font-size: 35px;
}

.textDiv h1, p {
    color: hsl(0, 0%, 100%);
}

.textDiv p {
    height: auto;
    color: hsla(0, 0%, 100%, 0.75);;
    margin-top: 30px;
    font-weight: 400;
    line-height: 25px;
}


.status {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.data {
    color:hsl(0, 0%, 100%)
}

.data spam {
    font-size: 0.8em;
    color: hsla(0, 0%, 100%, 0.6);
}

.imgDiv {
    background-image: url('./images/image-header-desktop.jpg');
    background-size: cover;
    width: 50%;
    height: 100%;
    border-radius: 0px 5px 5px 0px;
    background-color: hsla(0, 0%, 100%, 0.75);
}

.colorImg {
    width: 100%;
    height: 100%;
    background-color: hsla(277, 64%, 61%, 0.479);
}
@media (min-width: 600px) and (max-width: 836px) {
    .textDiv {
        padding-right: 30px;
    }
    .textDiv h1{
        font-size: 30px;
        
    }

    .textDiv p {
        font-size: px;
    }
}

@media (max-width: 630px){

    body {
        padding: 50px 20px 50px 20px;
        width: 100vw;
        height: auto;
    }
    

    .content {
        display: flex;
        flex-direction: column-reverse;
        height: 800px;
        
        margin-bottom: 50px;
    }
    .textDiv {
    
        text-align: center;
        padding: 30px 10px 30px 10px;
        width: 100%;
    }

    .textDiv p {
        font-size: 17px;
    }

    .imgDiv {
        width: 100%;
        height: 240px;
        border-radius: 5px 5px 0px 0px;
        
    }

    .colorImg {
        border-radius: 5px 5px 0px 0px;
    }
    .status {
        margin-top: 30px;
        display: block;
    }

    .data{
        font-size: 23px;
        margin-top: 40px;
    }
}
