* {
    margin: 0;
    padding: 0;
}

.container {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 50px;
}

.content {
    width: 50%;
}

.content h1 {
    width: auto;
}

.photo {
    width: 540px;
    height: 540px;
}

.photo img{
    width:auto;
    height: auto;
}






